body {
  background-color: rgb(248, 201, 147);
}

h2 {
color: #008800;
text-align: center;
}

p {
  color: rgb(0, 54, 104);
}

em {
  font-size: 25px;
}

strong {
  font-size: 30px;
}

h1 {
  color: red;
  font-style: italic;
  text-align: center;
}

a {
  color: yellow;
}

div {
  background-color: green;
}